<div class="listpage">
  <%= render "shared/logo" %>
  <div class="list_record">
    <h2 class="subtitle">créer une <strong>liste</strong> de tâches</h2>

        <button id="speak-now" class=" b-brainbud"><i class="fa-solid fa-microphone"></i> Start</button>

    <div class="AnimatedBox">
      <div class="form">
        <%= simple_form_for (@list) do |f| %>
          <h5 class="hStyle">TITRE</h5>
          <%= f.input :title, label:false %>
          <%= f.button :submit, 'Créer', class: 'btn-new_user' %>
        <% end %>
      </div>
    </div>
    <br>
    <div class="form-list">
      <%= render "shared/obj-list" %>
    </div>
  </div>
  <div class="logos-container">
    <div class="logos">
      <%= image_tag "bb_micro.png", class: "A" %>
      <%= image_tag "bb_halteres.png", class: "logos B" %>
    </div>
  </div>
</div>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Récupérer la valeur d'un input texte</title>
  </head>
  <body>
    <input type="text" placeholder="Entrez une valeur ici" id="in">
    <button type="button" onclick="getValue();">Récupérer la valeur</button>

    <script>
      function getValue() {
    // Sélectionner l'élément input et récupérer sa valeur
    var input = document.getElementById("in").value;

    // Afficher la valeur
    alert(input);
}
    </script>
  </body>
</html>
