<div class="listpage">
  <%= render "shared/logo" %>
  <div class="list_record">
    <h2 class="subtitle">Créez une liste</h2>
    <div class="AnimatedBox">
      <div class="form">
        <%= simple_form_for (@list) do |f| %>
          <h5 class="hStyle">TITRE</h5>
          <%= f.input :title, label:false %>
          <%= f.button :submit, 'Créer', class: 'btn-new_user' %>
        <% end %>
      </div>
    </div>
    <br>
    <div class="form-list">
      <%= render "shared/obj-list" %>
    </div>
  </div>
  <div class="logos-container">
    <div class="logos">
      <%= image_tag "bb_micro.png", class: "A" %>
      <%= image_tag "bb_halteres.png", class: "logos B" %>
    </div>
  </div>
</div>
