<div class="listpage">
  <%= render "shared/logo" %>
  <div class="list_record">
    <h2 class="subtitle">Créez une liste</h2>
    <br>
      <div class="AnimatedBox">
        <h1>test de form</h1>
      </div>
      <div class="form-list">
        <%= simple_form_for (@list) do |f| %>
        <h5>TITRE</h5>
        <%= f.input :title, label:false %>
        <%= f.button :submit, 'CRÉER', class: 'btn btn-success' %>
      <% end %>
    </div>
    <br>
    <h2 class="subtitle">Vos message vocaux</h2>
    <div class="form-list">
      <%= render "shared/obj-list" %>
    </div>
  </div>
  <br>
  <div class="logos-container">
    <div class="logos">
      <%= image_tag "bb_micro.png", class: "A" %>
      <%= image_tag "bb_halteres.png", class: "logos B" %>
    </div>
  </div>
</div>
