<div class="listpage">
  <h1 class="rotate-title"><strong>Brain</strong></h1>
  <h1 class="title">Buddy</h1>
  <h2 class="subtitle">Liste de tâches</h2>
  <br>

  <div class="flexbox">
    <div class="form-list">
      <%= simple_form_for (@list) do |f| %>
      <%= f.input :title %>
      <%= f.button :submit, 'Submit This Form', class: 'btn btn-success' %>
    <% end %>
    </div>
    <br>
    <h2 class="subtitle">Vos message vocaux</h2>
    <div class="form-list">
      <%= render "shared/obj-list" %>
    </div>
  </div>
  <br>
  <div class="logos-container-lists">
      <%= image_tag "bb_micro.png", class: "lists-logo" %>
      <%= image_tag "bb_loupe.png", class: "lists-logo" %>
  </div>
</div>
