<div class="homepage">
  <h2 class="map-title">Localiser une adresse<h2>
  <div class="create-address-container">
    <div id="new_local">
      <%= simple_form_for @localisation do |f| %>
        <%= f.text_field :address, placeholder: "1 Promenade des anglais, Nice", class:"input-create-address" %>
        <%= f.submit "Localiser", class:"submit-create-map" %>
      <% end %>
    </div>
  </div>

  <div class="map-address">
    <form action="/localisations" id="form_local">
      <select name="yours" id="address-select" >
        <option>-- Vos adresses --</option>
        <% @localisations.each_with_index do |localisation, index| %>
          <option value=<%= index %>>
            <%= "#{localisation.address}  (créé le #{localisation.created_at.strftime("%d/%m/%Y")})" %>
          </option>
        <% end %>
      </select>
    </form>

    <div class="mapbox-container">
      <div style="width: 80%; height: 250px;"
        data-controller="map"
        data-map-markers-value="<%= [@markers[@index]].to_json %>"
        data-map-api-key-value="pk.eyJ1IjoiZWdsZXIiLCJhIjoiY2xiMmRnM2Z1MDNzMzNwcXRzcGZpNjA1MyJ9.OgPtKkpm5SBI_o_rk1tAiw">
      </div>
    </div>

  <a href="#">
  <button style='font-size:20px'>Delete <i class='fas fa-trash-alt'></i></button>

</div>

<script>
var selectElmt = document.getElementById("address-select");
selectElmt.addEventListener('change', (e) => {
  var valeurselectionnee = selectElmt.options[selectElmt.selectedIndex].value;
  console.log(valeurselectionnee);
  window.location.assign(`/localisations?index=${valeurselectionnee}`)
})
var textselectionne = selectElmt.options[selectElmt.selectedIndex].text;
</script>
