<div class="homepage">
  <h1 class="rotate-title"><strong>Brain</strong></h1>
  <h1 class="title">Buddy</h1>
  <h2 class="map-title">Localiser une adresse<h2>
  <br>
  <div class="create-address-container">
  <%= form_for @localisation do |f| %>
   <%= f.text_field :address, placeholder: "1 Promenade des anglais, Nice", class:"input-create-address" %>
   <%= f.submit "Localiser", class:"submit-create-map" %>
  <% end %>
</div>

  <% i=0 %>
 <div class="mapbox-container">
 <br>
  <div style="width: 100%; height: 150px;"
      data-controller="map"
      data-map-markers-value="<%= [@markers[i]].to_json %>"
      data-map-api-key-value="pk.eyJ1IjoiZWdsZXIiLCJhIjoiY2xiMmRnM2Z1MDNzMzNwcXRzcGZpNjA1MyJ9.OgPtKkpm5SBI_o_rk1tAiw">
   </div>
 </div>

  <div class="maps-address">
    <br>
    <a href="#"><i class="far fa-trash-alt"></i></a>
    <br>

    <select name="Vos adresses enregistrées" id="adr-select" onChange="selectedAddress(this)">
      <option>--Please choose an option--</option>
      <% @localisations.each_with_index do |localisation, index| %>
      <option id="adresse-<%= index %>" data-index="<%= index %>" value="<%= localisation.address %>" data-localisation="<%= localisation %>">

      <%= "#{localisation.address}  (créé le #{localisation.created_at.strftime("%d/%m/%Y")})" %>
      <% i=index %>
      </option>
      <% end %>
    </select>

    <div class="mapbox-container">
    <br>
    <div style="width: 100%; height: 150px;"
      data-controller="map"
      data-map-markers-value="<%= [@markers[i]].to_json %>"
      data-map-api-key-value="pk.eyJ1IjoiZWdsZXIiLCJhIjoiY2xiMmRnM2Z1MDNzMzNwcXRzcGZpNjA1MyJ9.OgPtKkpm5SBI_o_rk1tAiw">
    </div>
 </div>


 </div>



</div>

<script>
function selectedAddress(sel) {
  #console.log( nodes.indexOf( sel ) );
  #console.log(sel.options[sel.selectedIndex]);
  #console.log(document.getElementbyId("").dataset)
}
 </script>
