<div class="nftpage">
  <%# <%= render "shared/logo" %>
  <div class="nft_wrap">
    <ul class="nft_container">
      <% @nfts.each do |nft| %>
        <li>
          <%= link_to nft_path(nft) do %>
          <%= cl_image_tag nft.photo.key, width: "200px", height: "auto", class: "nft-photo" %>
            <% end %>

        </li>
      <% end %>
    </ul>
  </div>
  <div id="form_nft">
    <%= render "form", nft: @nft %>
  </div>
</div>

<%# <div class="logos-container"> %>
  <%# <div class="logos"> %>
    <%# <%= image_tag "bb_micro.png", class: "A" %>
    <%# <%= image_tag "bb_loupe.png", class: "logos B" %>
  <%# </div> %>
<%# </div> %>
