<% @lists.each do |list| %>
  <div class="obj-list">
    <div class="obj-flex">
      <h5><%= "#{list.title}" %></h5>
      <% list.listelements.each do |task| %>
        <%= task = list.listelement.content %>
        <ul><li><%= task %></li></ul>
      <% end %>
      <%# <p><i class="fa-regular fa-square-check"></i> Salade roquette</p>
      <p><i class="fa-regular fa-square-check"></i> Pack de bières</p>
      <p><i class="fa-regular fa-square-check"></i> Gorgonzola</p> %>
      <%= link_to "éditer", list_path(list), class: "btn btn-form" %>
        <%= link_to list_path(list), data: {turbo_method: :delete, turbo_confirm: "Are you sure ?"}, class:'btn btn-form' do %>
          <i class="fa-regular fa-trash-can"></i>
        <% end %>
    </div>
  </div>
<% end %>
