<div class="homepage">
  <%= render "shared/logo" %>
  <div class="links-homepage">
    <%= link_to "Message Vocal", vocals_path, class: "btn btn-success" %>
    <%= link_to "Créer une liste", lists_path, class: "btn btn-success" %>
    <%= link_to "Position GPS", localisations_path, class: "btn btn-success" %>
    <%= link_to "NTF Photo", nfts_path, class: "btn btn-success" %>
    <%= link_to "Appel d'Urgence", nfts_path, class: "btn btn-success" %>
  </div>
  <div class="logos-container">
    <div class="logos">
      <%= image_tag "bb_micro.png", class: "A" %>
      <%= image_tag "bb_idee.png", class: "B" %>
    </div>
  </div>
</div>
