<div class="vocalpage">
  <h1 class="rotate-title"><strong>Brain</strong></h1>
  <h1 class="title">Buddy</h1>
  <h2 class="subtitle">Message Vocal</h2>
      <%= simple_form_for (@vocal) do |f| %>
        <%= f.label "Titre" %>
        <%= f.input :name, label: false %>

        <%= f.button :submit, 'Submit This Form', class: 'btn btn-success' %>
      <% end %>

    <br>
    <h1>Vos messages</h1>
    <%# <div class="scroller"> %>
    <select name="Vos messages archivés" id="pet-select">
      <option value="">--Please choose an option--</option>
      <option value="">
      <%= render "/shared/form_vocals" %>
      </option>
    </select>



    <div class="logos-container">
      <%= image_tag "bb_micro.png", class: "homepage-logo" %>
      <%= image_tag "bb_loupe.png", class: "homepage-logo" %>
    </div>
</div>
  <div class="audio-reord">
  <%= render "/shared/audio" %>
  </div>
