<div class="homepage">
  <%= render "shared/logo" %>
  <div class="card-box">
    <h2>Crédits:</h2>
    <div class="cards">
      <%= image_tag "bb_idee.png" %>
      <p>Brain characters: <a href="https://www.freepik.com">Designed by upklyak/Freepik</a></p>
    </div>
    <div class="cards">
      <%= image_tag "bb_idee.png" %>
      <p>Talking microphone character: <a href="https://www.freepik.com">Designed by Freepik</a></p>
    </div>
    <div class="cards">
      <%= image_tag "bb_idee.png" %>
      <p>Animated form: <a href="https://www.youtube.com/embed/cxm5bCCa9OA">Online Tutorials <em>(youtube)</em></a></p>
    </div>
    <div class="cards">
      <%= image_tag "bb_idee.png" %>
      <p>Scroll-down menu: <a href="https://fr.w3docs.com/tools/code-editor/5815">w3docs.com</a></p>
    </div>
    <ul>
      <h2>Contributeurs:</h2>
      <li>Karine Egler</li>
      <li>Valeria Pallas</li>
      <li>Fabrice Tio</li>
      <li>Jonathan Leal</li>
      <li>Raphaël Reybaut</li>
    </ul>
  </div>
</div>
