<div class="creditpage">
  <%= render "shared/logo" %>
  <div class="credit_wrap">
    <h2 class="subtitle">Crédits</h2>
    <div class="card-box">
      <div class="cards">
        <%= image_tag "bb_idee.png" %>
        <p>Brain characters: <a href="https://www.freepik.com" target="_blank">Designed by upklyak/Freepik</a></p>
      </div>
      <div class="cards">
        <%= image_tag "bb_micro.png" %>
        <p>Talking microphone character: <a href="https://www.freepik.com" target="_blank">Designed by Freepik</a></p>
      </div>
      <div class="cards">
        <%= image_tag "form.png" %>
        <p>Animated form: <a href="https://www.youtube.com/embed/cxm5bCCa9OA" target="_blank">Online Tutorials <em>(youtube)</em></a></p>
      </div>
      <div class="cards">
        <%= image_tag "dd_menu.png" %>
        <p>Scroll-down menu: <a href="https://fr.w3docs.com/tools/code-editor/5815" target="_blank">w3docs.com</a></p>
      </div>
      <ul>
        <h4>Contributeurs:</h4>
        <li><strong>Karine Egler</strong>, <em class="legende">web developer fullstack </em><a href="https://www.linkedin.com/in/karine-egler-38b794138/" target="_blank"><i class="fa-brands fa-linkedin fa-icon"></i></a></li>
        <li><strong>Valeria Pallas</strong>, <em class="legende">web developer fullstack </em><a href="https://www.linkedin.com/in/valeria-pallas/" target="_blank"><i class="fa-brands fa-linkedin fa-icon"></i></a></li>
        <li><strong>Fabrice Tio</strong>, <em class="legende">head teacher </em> <a href="https://www.linkedin.com/in/fabrice-tui/" target="_blank"><i class="fa-brands fa-linkedin fa-icon"></i></a></li>
        <li><strong>Jonathan Leal</strong>, <em class="legende">teacher assistant </em><a href="https://www.linkedin.com/in/jonathan-leal-7636a7120/" target="_blank"><i class="fa-brands fa-linkedin fa-icon"></i></a></li>
        <li><strong>Baptiste Giorgi</strong>, <em class="legende">teacher assistant </em><a href="https://www.linkedin.com/in/baptistegiorgi/" target="_blank"><i class="fa-brands fa-linkedin fa-icon"></i></a></li>
        <li><strong>Raphaël Reybaut</strong>, <em class="legende">lead dev, web developer fullstack </em><a href="https://www.linkedin.com/in/rrreybaut/" target="_blank"><i class="fa-brands fa-linkedin fa-icon"></i></a></li>
      </ul>
    </div>
  </div>
</div>
